@import './fonts/font-icons/style.css';
@import './fonts/Gotham-Font/style.css';
.ellipsis, .footer_parag, .portfolio_title, .portfolio_desc, .bar_search, .project_head_container h2, .head_container h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_container, .footer_container, .subscribe_container, .portfolio_container, .bar_container, .header_container {
  width: 82%;
  max-width: 100%;
  margin: 0 auto;
}

.project_half_container, .slider_text_container, .bar_search_container {
  width: 50%;
  max-width: 1250px;
}

.project_head_container, .head_container {
  margin-bottom: 60px;
}
.project_head_container h2, .head_container h2 {
  font-size: 50px;
  font-family: "GothamMedium", sans-serif;
  color: head_color;
}

header {
  background-color: #333;
  padding: 53px 0;
}

.header_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}

.header_auth a {
  font-size: 36px;
  font-family: "GothamBold", "GothamMedium", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.header_auth a:first-of-type {
  margin-right: 40px;
}

.bar {
  background-color: #77787a;
  padding: 20px 0;
}

.bar_form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bar_form > div {
  margin-right: 8px;
}

.bar_search {
  width: 100%;
  font-size: 25px;
  border: none;
  text-indent: 20px;
  padding: 20px 0;
  color: #3ba2d4;
}
.bar_search::placeholder {
  color: #3ba2d4;
  text-transform: uppercase;
  font-family: "GothamMedium", sans-serif;
}

.bar_date_container {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.bar_date_text {
  float: left;
  font-size: 25px;
  color: #3ba2d4;
  margin: 12px 20px 0 0;
}

i.icon-calendar {
  font-size: 50px;
  color: #929497;
}

.custom_btn {
  font-size: 25px;
  font-family: "GothamMedium", sans-serif;
  padding: 21px;
  background-color: #fff;
  color: #3ba2d4;
  border: none;
}

.slider .item {
  padding-top: 90px;
  height: 950px;
  background-image: url("../images/slider/CbVbCs.jpg");
  background-color: #9FA2A9;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.slider_text_container {
  margin-left: 9%;
}

.slider_text {
  color: #fff;
  font-size: 62px;
  max-height: 480px;
  overflow: hidden;
  text-transform: uppercase;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
}

.portfolio {
  background-color: #fff;
  padding-top: 150px;
}

.portfolio_items_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio_item {
  width: 100%;
  max-width: 585px;
  margin-bottom: 140px;
  margin-right: 20px;
}

.portfolio_item_pict_cont {
  position: relative;
}

.portfolio_picture {
  width: 100%;
  max-width: 585px;
  max-width: 100%;
  max-height: 313px;
}

.portfolio_title {
  text-transform: uppercase;
  font-size: 33px;
  color: #333;
  margin: 47px 0 20px;
}

.portfolio_desc {
  font-size: 30px;
  font-family: "GothamBook", "GothamMedium", sans-serif;
  line-height: 33px;
  color: #666;
}

.roll_over {
  background-color: #333;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  color: #fff;
  font-size: 17px;
}
.roll_over .roll_content_container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
.roll_over i {
  float: left;
}
.roll_over i:hover {
  color: #3ba2d4;
  cursor: pointer;
}
.roll_over i:active {
  color: #FFE44B;
}
.roll_over .top_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.roll_over .top_content > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.roll_over .bottom_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}
.roll_over .bottom_content .bottom_content_text {
  max-width: 60%;
  max-height: 38px;
  overflow: hidden;
}
.roll_over .roll_count {
  margin: 10px;
}
.roll_over .follow_container {
  margin-right: 5px;
}
.roll_over .follow_container i.icon-add.follow {
  font-size: 24px;
}
.roll_over .follow_container .follow_text {
  font-size: portfolio_follow_text_fontsize;
}

.subscribe {
  background-color: #333;
  margin-top: 90px;
  padding: 25px 0;
}

.subscribe_content {
  font-size: 67px;
}

.subscribe_content_link {
  color: #3ba2d4;
  margin-right: 30px;
}

footer {
  margin: 100px 0 180px;
  background-color: #fff;
}

.footer_content {
  width: 75%;
  max-width: 1560px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  justify-content: space-between;
  font-size: 30px;
  line-height: 62px;
}

.footer_column {
  max-width: 25%;
}

.footer_parag {
  text-transform: capitalize;
}

.footer_link {
  color: #333;
}

@media (max-width: 1440px) {
  header {
    padding: 35px 0;
  }

  .header_auth a {
    font-size: 29px;
  }

  .header_logo {
    width: 262px;
  }

  .bar {
    padding: 10px 0;
  }

  .bar_search_container {
    width: 46%;
  }

  .bar_search {
    padding: 13px;
    font-size: 20px;
    text-indent: 16px;
  }

  .bar_date_container {
    padding: 4.5px 15px;
  }

  .bar_date_text {
    font-size: 20px;
    margin: 10px 20px 0 0;
  }

  i.icon-calendar {
    font-size: 40px;
  }

  .custom_btn {
    font-size: 20px;
    font-family: "GothamMedium", sans-serif;
    padding: 14px;
    background-color: #fff;
    color: #3ba2d4;
    border: none;
  }

  .slider .item {
    padding-top: 72px;
    height: 760px;
  }

  .slider_text {
    font-size: 50px;
    max-height: 384px;
  }

  .project_head_container h2, .head_container h2 {
    font-size: 40px;
  }

  .portfolio_item {
    max-width: 45%;
    margin-bottom: 140px;
    margin-right: none;
  }

  .portfolio_picture {
    max-height: 280px;
  }

  .roll_over {
    bottom: 4px;
    font-size: 14px;
  }
  .roll_over .bottom_content {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .roll_over .bottom_content .bottom_content_text {
    max-height: 30px;
  }

  .roll_over .follow_container i.icon-add.follow {
    font-size: 19px;
  }

  .portfolio_title {
    font-size: 26px;
    margin: 20px 0;
  }

  .portfolio_desc {
    font-size: 24px;
    line-height: 26px;
  }

  .subscribe {
    padding: 10px 0;
  }

  .subscribe_content {
    font-size: 54px;
  }

  .subscribe_content_link {
    margin-right: 15px;
  }

  .footer_content {
    font-size: 24px;
    line-height: 50px;
  }

  .footer_column {
    max-width: 25%;
  }

  .footer_parag img {
    width: 130px;
  }
}
@media (max-width: 992px) {
  header {
    padding: 30px 0;
  }

  .header_auth a {
    font-size: 22px;
  }

  .header_logo {
    width: 196px;
  }

  .bar_search_container {
    width: 36%;
  }

  .bar_search {
    padding: 8px;
    font-size: 15px;
    text-indent: 12px;
  }

  .bar_date_container {
    padding: 1px 5px;
  }

  .bar_date_text {
    font-size: 15px;
    margin: 7px 20px 0 0;
  }

  i.icon-calendar {
    font-size: 30px;
  }

  .custom_btn {
    font-size: 15px;
    font-family: "GothamMedium", sans-serif;
    padding: 8px 8px 9px;
    background-color: #fff;
    color: #3ba2d4;
    border: none;
  }

  .slider .item {
    padding-top: 54px;
    height: 570px;
  }

  .slider_text {
    font-size: 37px;
    max-height: 160px;
  }

  .portfolio {
    padding-top: 90px;
  }

  .project_head_container, .head_container {
    margin-bottom: 36px;
  }

  .project_head_container h2, .head_container h2 {
    font-size: 30px;
  }

  .portfolio_item {
    margin-bottom: 100px;
  }

  .roll_over {
    font-size: 10px;
  }
  .roll_over .bottom_content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .roll_over .bottom_content .bottom_content_text {
    max-height: 22px;
  }

  .roll_over .follow_container i.icon-add.follow {
    font-size: 14px;
  }

  .portfolio_title {
    font-size: 20px;
    margin: 15px 0;
  }

  .portfolio_desc {
    font-size: 18px;
    line-height: 20px;
  }

  .subscribe {
    margin-top: 54px;
  }

  .subscribe_content {
    font-size: 40px;
  }

  .subscribe_content_link {
    margin-right: 10px;
  }

  footer {
    margin-top: 60px;
    margin-bottom: 108px;
  }

  .footer_content {
    font-size: 18px;
    line-height: 37px;
  }

  .footer_column {
    max-width: 25%;
  }

  .footer_parag img {
    width: 98px;
  }
}
@media (max-width: 600px) {
  header {
    padding: 20px 0;
  }

  .header_auth a {
    font-size: 18px;
  }
  .header_auth a:first-of-type {
    margin-right: 15px;
  }

  .header_logo {
    width: 109px;
  }

  .bar_search_container {
    width: 27%;
  }

  .bar_search {
    padding: 10px 0 11px;
    font-size: 13px;
    text-indent: 10px;
  }

  .bar_date_container {
    padding: 5px 5px;
  }

  .bar_date_text {
    font-size: 13px;
    margin: 5px 5px 0 0;
  }

  i.icon-calendar {
    font-size: 25px;
  }

  .custom_btn {
    font-size: 13px;
    font-family: "GothamMedium", sans-serif;
    padding: 11px 8px 11px;
    background-color: #fff;
    color: #3ba2d4;
    border: none;
  }

  .slider .item {
    padding-top: 45px;
    height: 475px;
  }

  .slider_text {
    font-size: 31px;
    max-height: 130px;
  }

  .owl-theme .owl-dots {
    left: 45%;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }

  .portfolio {
    padding-top: 75px;
  }

  .project_head_container, .head_container {
    text-align: center;
  }

  .project_head_container h2, .head_container h2 {
    font-size: 25px;
  }

  .portfolio_items_container {
    justify-content: center;
  }

  .portfolio_item {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 80%;
  }

  .roll_over {
    font-size: 9px;
  }
  .roll_over .bottom_content {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .roll_over .bottom_content .bottom_content_text {
    max-height: 18px;
  }

  .roll_over .follow_container i.icon-add.follow {
    font-size: 12px;
  }

  .portfolio_title {
    font-size: 17px;
    margin: 10px 0;
  }

  .portfolio_desc {
    font-size: 15px;
    line-height: 17px;
  }

  .subscribe {
    margin-top: 45px;
  }

  .subscribe_content {
    font-size: 34px;
  }

  .subscribe_content_link {
    margin-right: 5px;
  }

  footer {
    margin-top: 50px;
    margin-bottom: 90px;
  }

  .footer_content {
    font-size: 15px;
    line-height: 31px;
    width: 100%;
  }

  .footer_parag img {
    width: 82px;
  }
}
@media (max-width: 425px) {
  header {
    padding: 15px 0;
  }

  .header_auth a {
    font-size: 14px;
  }
  .header_auth a:first-of-type {
    margin-right: 15px;
  }

  .header_logo {
    width: 87px;
  }

  .bar {
    padding: 5px 0;
  }

  .bar_search {
    padding: 6px 0 5px;
    font-size: 10px;
    text-indent: 8px;
  }

  .bar_date_container {
    padding: 0 5px;
  }

  .bar_date_text {
    font-size: 10px;
  }

  i.icon-calendar {
    font-size: 20px;
  }

  .custom_btn {
    font-size: 10px;
    font-family: "GothamMedium", sans-serif;
    padding: 6px 5px 5px;
    background-color: #fff;
    color: #3ba2d4;
    border: none;
  }

  .slider .item {
    padding-top: 36px;
    height: 380px;
  }

  .slider_text {
    font-size: 25px;
    max-height: 82px;
  }

  .portfolio {
    padding-top: 60px;
  }

  .project_head_container h2, .head_container h2 {
    font-size: 20px;
  }

  .roll_over {
    font-size: 7px;
  }

  .roll_over .bottom_content .bottom_content_text {
    max-height: 14px;
  }

  .roll_over .follow_container i.icon-add.follow {
    font-size: 10px;
  }

  .roll_over .roll_count {
    margin: 5px;
  }

  .portfolio_title {
    font-size: 13px;
    margin: 5px 0;
  }

  .portfolio_desc {
    font-size: 12px;
    line-height: 13px;
  }

  .subscribe {
    margin-top: 36px;
    padding: 5px 0;
  }

  .subscribe_content {
    font-size: 27px;
  }

  footer {
    margin-top: 40px;
    margin-bottom: 72px;
  }

  .footer_content {
    font-size: 12px;
    line-height: 25px;
  }

  .footer_parag img {
    width: 65px;
  }
}
@media (max-width: 375px) {
  header {
    padding: 10px 0;
  }

  .header_auth a {
    font-size: 11px;
  }
  .header_auth a:first-of-type {
    margin-right: 10px;
  }

  .header_logo {
    width: 65px;
  }

  .bar {
    padding: 5px 0;
  }

  .bar_search {
    padding: 7px 0 6px;
    font-size: 8px;
    text-indent: 6px;
  }

  .bar_date_container {
    padding: 2px;
  }

  .bar_date_text {
    font-size: 8px;
  }

  i.icon-calendar {
    font-size: 15px;
  }

  .custom_btn {
    font-size: 8px;
    font-family: "GothamMedium", sans-serif;
    padding: 8px 5px;
    background-color: #fff;
    color: #3ba2d4;
    border: none;
  }

  .slider .item {
    padding-top: 27px;
    height: 285px;
  }

  .slider_text {
    font-size: 19px;
    max-height: 44px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

a, button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
}

ul {
  list-style-type: none;
}

main {
  font-family: "GothamMedium", sans-serif, Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
