@import './fonts/font-icons/style.css';
@import './fonts/Gotham-Font/style.css';
.project_container, .subscribe_container, .portfolio_container, .bar_container, .header_container {
  width: 82%;
  max-width: 100%;
  margin: 0 auto;
}

.project_half_container, .slider .slider_text_container, .bar_form .bar_search_container {
  width: 50%;
  max-width: 1250px;
}

.ellipsis, .portfolio_title, .portfolio_desc, .project_head_container h2, .head_container h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_head_container, .head_container {
  margin-bottom: 60px;
}
.project_head_container h2, .head_container h2 {
  font-size: 50px;
  font-family: "GothamMedium", sans-serif;
  color: head_color;
}

header {
  background-color: #333;
  padding: 53px 0;
}

.header_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}

.header_auth a {
  font-size: 36px;
  font-family: "GothamBold", "GothamMedium", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.header_auth a:first-of-type {
  margin-right: 40px;
}

.project_container, .subscribe_container, .portfolio_container, .bar_container, .header_container {
  width: 82%;
  max-width: 100%;
  margin: 0 auto;
}

.project_half_container, .slider .slider_text_container, .bar_form .bar_search_container {
  width: 50%;
  max-width: 1250px;
}

.ellipsis, .portfolio_title, .portfolio_desc, .project_head_container h2, .head_container h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_head_container, .head_container {
  margin-bottom: 60px;
}
.project_head_container h2, .head_container h2 {
  font-size: 50px;
  font-family: "GothamMedium", sans-serif;
  color: head_color;
}

.bar {
  background-color: #77787a;
  padding: 20px 0;
}

.bar_form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bar_form > div {
  margin-right: 8px;
}
.bar_form .bar_search_container .bar_search {
  width: 100%;
  font-size: 25px;
  border: none;
  text-indent: 20px;
  padding: 20px 0;
  color: #3ba2d4;
}
.bar_form .bar_search_container .bar_search::placeholder {
  color: #3ba2d4;
  text-transform: uppercase;
  font-family: "GothamMedium", sans-serif;
}
.bar_form .bar_date_container {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.bar_form .bar_date_container .bar_date_text {
  float: left;
  font-size: 25px;
  color: #3ba2d4;
  margin: 12px 20px 0 0;
}
.bar_form .bar_date_container i.icon-calendar {
  font-size: 50px;
  color: #929497;
}
.bar_form .custom_btn {
  font-size: 25px;
  font-family: "GothamMedium", sans-serif;
  padding: 21px;
  background-color: #fff;
  color: #3ba2d4;
  border: none;
}

.slider .item {
  padding-top: 90px;
  height: 950px;
  background-image: url("../images/slider/CbVbCs.jpg");
  background-color: #9FA2A9;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.slider .slider_text_container {
  margin-left: 9%;
}
.slider .slider_text {
  color: #fff;
  font-size: 62px;
  max-height: 480px;
  overflow: hidden;
  text-transform: uppercase;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
}

.project_container, .subscribe_container, .portfolio_container, .header_container, .bar_container {
  width: 82%;
  max-width: 100%;
  margin: 0 auto;
}

.project_half_container, .bar_form .bar_search_container, .slider .slider_text_container {
  width: 50%;
  max-width: 1250px;
}

.ellipsis, .portfolio_title, .portfolio_desc, .project_head_container h2, .head_container h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_head_container, .head_container {
  margin-bottom: 60px;
}
.project_head_container h2, .head_container h2 {
  font-size: 50px;
  font-family: "GothamMedium", sans-serif;
  color: head_color;
}

.portfolio {
  background-color: #fff;
  padding-top: 150px;
}

.portfolio_items_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio_item {
  width: 100%;
  max-width: 585px;
  margin-bottom: 140px;
  margin-right: 20px;
}

.portfolio_item_pict_cont {
  position: relative;
}

.portfolio_picture {
  width: 100%;
  max-width: 585px;
  max-height: 313px;
}

.portfolio_title {
  text-transform: uppercase;
  font-size: 33px;
  color: #333;
  margin: 47px 0 20px;
}

.portfolio_desc {
  font-size: 30px;
  font-family: "GothamBook", "GothamMedium", sans-serif;
  line-height: 33px;
  color: #666;
}

.roll_over {
  background-color: #333;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  color: #fff;
  font-size: 17px;
}
.roll_over .roll_content_container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
.roll_over i {
  float: left;
}
.roll_over i:hover {
  color: #3ba2d4;
  cursor: pointer;
}
.roll_over .top_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.roll_over .top_content > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.roll_over .bottom_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}
.roll_over .bottom_content .bottom_content_text {
  max-width: 60%;
  max-height: 38px;
  overflow: hidden;
}
.roll_over .roll_count {
  margin: 10px;
}
.roll_over .follow_container {
  margin-right: 5px;
}
.roll_over .follow_container i.icon-add.follow {
  font-size: 24px;
}
.roll_over .follow_container .follow_text {
  font-size: portfolio_follow_text_fontsize;
}

.project_container, .subscribe_container, .header_container, .bar_container, .portfolio_container {
  width: 82%;
  max-width: 100%;
  margin: 0 auto;
}

.project_half_container, .bar_form .bar_search_container, .slider .slider_text_container {
  width: 50%;
  max-width: 1250px;
}

.ellipsis, .project_head_container h2, .head_container h2, .portfolio_title, .portfolio_desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_head_container, .head_container {
  margin-bottom: 60px;
}
.project_head_container h2, .head_container h2 {
  font-size: 50px;
  font-family: "GothamMedium", sans-serif;
  color: head_color;
}

.subscribe {
  background-color: #333;
  margin-top: 90px;
  margin-bottom: 100px;
  padding: 25px 0;
}

.subscribe_content {
  font-size: 65px;
}
.subscribe_content .subscribe_content_link {
  color: #3ba2d4;
  margin-right: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

a, button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
}

ul {
  list-style-type: none;
}

main {
  font-family: "GothamMedium", sans-serif, Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
