@import './scss/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        opacity: $link_opacity;
    }
}

a, button {
    cursor: $second_cursor;
}

input, 
textarea,
button {
    outline: none;
}

ul {
    list-style-type: none;
}

main {
    font-family: $gotham_medium;
}

@import './fonts/font-icons/style.css' , 
        './fonts/Gotham-Font/style.css',
        './scss/mixins',
        './scss/global',
        './scss/header',
        './scss/bar',
        './scss/slider',
        './scss/portfolio',
        './scss/subscribe',
        './scss/footer',
        './scss/media-queries.scss';