@import './fonts/font-icons/style.css';
@import './fonts/Gotham-Font/style.css';
@import './scss/variables.scss';
@import './scss/mixins.scss';
@import './scss/global.scss';
@import './scss/header.scss';
@import './scss/bar.scss';
@import './scss/slider.scss';
@import './scss/portfolio.scss';
@import './scss/media-queries.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        opacity: $link_opacity;
    }
}

a, button {
    cursor: $second_cursor;
}

input, 
textarea,
button {
    outline: none;
}

ul {
    list-style-type: none;
}

main {
    font-family: $gotham_medium, Arial, Helvetica, sans-serif;
}

