// Project container width 
$cont_width: 82%;
$link_opacity: 0.8;
$second_cursor: pointer;
// ------------------------ Header ------------------------

$header_bg_color: #333;
$header_padding: 53px 0;

$header_link_fontsize: 36px;
$header_link_color: #fff;
$header_link_fontfamily: 'GothamBold';