footer {
    margin: $footer_margin;
    background-color: $footer_bg_color;
}

.footer_container {
    @extend .project_container;
}

.footer_content {
    @include project_width($footer_content_width, $footer_content_maxwidth);
    @include flex_mix;
    @include flex_align_items_mix($to: baseline);
    justify-content: space-between;
    font-size: $footer_content_fontsize;
    line-height: $footer_content_lineheight;
}

.footer_column {
    max-width: $footer_column_maxwidth;
}

.footer_parag {
    @extend .ellipsis;
    text-transform: capitalize;
}

.footer_link {
    color: $footer_link_color;
}


