footer {
    margin-top: 100px;
    background-color: #fff;
    margin-bottom: 180px;

    .footer_container {
        max-width: 82%;
        margin: 0 auto;
    }

    .footer_content {
        width: 75%;
        max-width: 1560px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 30px;
        line-height: 62px;

        & > div {
            max-width: 25%;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }

        a {
            color: #333;
        }
    }

}

