footer {
    margin: $footer_margin_top 0 $footer_margin_bottom;
    background-color: $bg_light_color;
}

.footer_content {
    @include project_width($footer_content_width, $footer_content_maxwidth);
    @include flex_mix;
    @include flex_align_items_mix($to: baseline);
    justify-content: space-between;
    font-size: $footer_content_fontsize;
}

.footer_list {
    max-width: $footer_column_maxwidth;
}

.footer_item {
    overflow: hidden;
    text-transform: capitalize;
    padding: 10px 0;
}

.footer_link {
    color: $bg_primary_color;
}


