header {
    background-color: $bg_primary_color;
    padding: $header_padding;
}

.header_cont {
    @include flex_mix;
    @include flex_align_items_mix($to: flex-end);
    justify-content: space-between;
}

.header_link{
    font-size: $header_link_fontsize;
    font-family: $gotham_bold;
    color: $text_light_color;
    text-transform: uppercase;

    &:first-of-type {
        margin-right: $header_first_link_marginright;
    }
}

