@media (max-width: $laptop_large) {
    // -------------------------------- Header ------------------------------------

    header {
        padding: 35px 0;
    }

    .header_auth a {
        font-size: round($header_link_fontsize * $multiply_size_laptop_large);
    }

    .header_logo {
        width: round(327px * $multiply_size_laptop_large);
    }

    // ---------------------------- Top Bar ---------------------------------------

    .bar {
        padding: 10px 0;
    }

    .bar_search_container {
        width: 46%;
    }

    .bar_search {
        padding: 13px;
        font-size: round($bar_text_fontsize * $multiply_size_laptop_large);
        text-indent: round($bar_search_textindent * $multiply_size_laptop_large);
    }

    .bar_date_container {
        padding: 4.5px 15px;
    }

    .bar_date_text {
        font-size: round($bar_text_fontsize * $multiply_size_laptop_large);
        margin: 10px 20px 0 0;
    }

    i.icon-calendar {
        font-size: round($bar_icon_fontsize * $multiply_size_laptop_large);
        
    }
    
    .custom_btn {
        @include button_mixin(round($bar_text_fontsize * $multiply_size_laptop_large), 14px, $bar_field_bg_color, $blue_color);
    }

    // ---------------------------------- Slider -----------------------------------------

    .slider .item {
        padding-top: round($slider_padding_top * $multiply_size_laptop_large);
        height: round($slider_item_height * $multiply_size_laptop_large);
    }

    .slider_text {
        font-size: round($slider_text_fontsize * $multiply_size_laptop_large);
        max-height: round($slider_text_container_maxheight * $multiply_size_laptop_large);
    }

    // ----------------------------------- Portfolio --------------------------------------

    .project_head_container {
        h2 {
            font-size: round($head_fontsize * $multiply_size_laptop_large);
        }
    }
    
    .portfolio_item {
        max-width: 45%;
        margin-bottom: 140px;
        margin-right: none;
    }

    .portfolio_picture {
        max-height: 280px;
    }

   .roll_over {
       bottom: 4px;
        font-size: round($portfolio_roll_over_fontsize * $multiply_size_laptop_large);
        
       .bottom_content {
            margin-top: 25px;
            margin-bottom: 25px;
        }
   }

   .roll_over .bottom_content .bottom_content_text {
        max-height: 30px;
    }

   .roll_over .follow_container i.icon-add.follow {
        font-size: round($portfolio_follow_icon_fontsize * $multiply_size_laptop_large);
    }

    .portfolio_title {
        font-size: round($portfolio_title_fontsize * $multiply_size_laptop_large);
        margin: 20px 0;
    }
    
    .portfolio_desc {
        font-size: round($portfolio_desc_fontsize * $multiply_size_laptop_large);
        line-height: round($portfolio_desc_lineheight * $multiply_size_laptop_large);
    }

    // --------------------------------- Subscribe -------------------------------------

    .subscribe {
        padding: 10px 0;
    }

    .subscribe_content {
        font-size: round($subscribe_content_fontsize * $multiply_size_laptop_large);
    }

    .subscribe_content_link {
        margin-right: 15px;
    }

    // ------------------------------------ Footer -------------------------------------

    .footer_content {
        font-size: round($footer_content_fontsize * $multiply_size_laptop_large);
        line-height: round($footer_content_lineheight * $multiply_size_laptop_large);
    }
    
    .footer_column {
        max-width: $footer_column_maxwidth;
    }

    .footer_parag img {
        width: round(163px * $multiply_size_laptop_large);
    }
}

@media (max-width: $laptop) {
    // ----------------------------------- Header -------------------------------------

    header {
        padding: 30px 0;
    }

    .header_auth a {
        font-size: round($header_link_fontsize * $multiply_size_laptop);
    }

    .header_logo {
        width: round(327px * $multiply_size_laptop);
    }

    // -------------------------------- Top bar ----------------------------------------

    .bar_search_container {
        width: 36%;
    }

    .bar_search {
        padding: 8px;
        font-size: round($bar_text_fontsize * $multiply_size_laptop);
        text-indent: round($bar_search_textindent * $multiply_size_laptop);
    }

    .bar_date_container {
        padding: 1px 5px;
    }

    .bar_date_text {
        font-size: round($bar_text_fontsize * $multiply_size_laptop);
        margin: 7px 20px 0 0;
    }

    i.icon-calendar {
        font-size: round($bar_icon_fontsize * $multiply_size_laptop);
        
    }
    
    .custom_btn {
        @include button_mixin(round($bar_text_fontsize * $multiply_size_laptop), 8px 8px 9px, $bar_field_bg_color, $blue_color);
    }

    // ---------------------------------- Slider -----------------------------------------

    .slider .item {
        padding-top: round($slider_padding_top * $multiply_size_laptop);
        height: round($slider_item_height * $multiply_size_laptop);
    }

    .slider_text {
        font-size: round($slider_text_fontsize * $multiply_size_laptop);
        max-height: round($slider_text_container_maxheight * $multiply_size_laptop - 128);
    }

    // ----------------------------------- Portfolio --------------------------------------

    .portfolio {
        padding-top: round($portfolio_paddingtop * $multiply_size_laptop);
    }

    .project_head_container {
        margin-bottom: round($project_head_container_margin_bottom * $multiply_size_laptop);
    }

    .project_head_container h2 {
        font-size: round($head_fontsize * $multiply_size_laptop);
    }
    
    .portfolio_item {
        margin-bottom: 100px;
    }

   .roll_over {
        font-size: round($portfolio_roll_over_fontsize * $multiply_size_laptop);

       .bottom_content {
            margin-top: 20px;
            margin-bottom: 20px;
        }
   }

   .roll_over .bottom_content .bottom_content_text {
        max-height: 22px;
    }

   .roll_over .follow_container i.icon-add.follow {
        font-size: round($portfolio_follow_icon_fontsize * $multiply_size_laptop);
    }

    .portfolio_title {
        font-size: round($portfolio_title_fontsize * $multiply_size_laptop);
        margin: 15px 0;
    }
    
    .portfolio_desc {
        font-size: round($portfolio_desc_fontsize * $multiply_size_laptop);
        line-height: round($portfolio_desc_lineheight * $multiply_size_laptop);
    }

    // --------------------------------- Subscribe -------------------------------------

    .subscribe {
        margin-top: round($subscribe_margin_top * $multiply_size_laptop);
    }

    .subscribe_content {
        font-size: round($subscribe_content_fontsize * $multiply_size_laptop);
    }

    .subscribe_content_link {
        margin-right: 10px;
    }

    // ---------------------------------- Footer ----------------------------------------

    footer {
        margin-top: round($footer_margin_top * $multiply_size_laptop);
        margin-bottom: round($footer_margin_bottom * $multiply_size_laptop);
    }

    .footer_content {
        font-size: round($footer_content_fontsize * $multiply_size_laptop);
        line-height: round($footer_content_lineheight * $multiply_size_laptop);
    }
    
    .footer_column {
        max-width: $footer_column_maxwidth;
    }

    .footer_parag img {
        width: round(163px * $multiply_size_laptop);
    }
}

@media (max-width: $tablet) {

    // ----------------------------------- Header ------------------------------------
    header {
        padding: 20px 0;
    }

    .header_auth a {
        font-size: round($header_link_fontsize * $multiply_size_tablet);
        &:first-of-type {
            margin-right: 15px;
        }
    }

    .header_logo {
        width: round(327px * $multiply_size_tablet / 1.5);
    }

    // -------------------------------- Top bar ----------------------------------------

    .bar_search_container {
        width: 27%;
    }

    .bar_search {
        padding: 10px 0 11px;
        font-size: round($bar_text_fontsize * $multiply_size_tablet);
        text-indent: round($bar_search_textindent * $multiply_size_tablet);
    }

    .bar_date_container {
        padding: 5px 5px;
    }

    .bar_date_text {
        font-size: round($bar_text_fontsize * $multiply_size_tablet);
        margin: 5px 5px 0 0;
    }

    i.icon-calendar {
        font-size: round($bar_icon_fontsize * $multiply_size_tablet);
        
    }
    
    .custom_btn {
        @include button_mixin(round($bar_text_fontsize * $multiply_size_tablet), 11px 8px 11px, $bar_field_bg_color, $blue_color);
    }

    // ---------------------------------- Slider -----------------------------------------

    .slider .item {
        padding-top: round($slider_padding_top * $multiply_size_tablet);
        height: round($slider_item_height * $multiply_size_tablet);
    }

    .slider_text {
        font-size: round($slider_text_fontsize * $multiply_size_tablet);
        max-height: round($slider_text_container_maxheight * $multiply_size_tablet - 110);
    }

    .owl-theme .owl-dots {
        left: 45%;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
    }

    // ----------------------------------- Portfolio --------------------------------------

    .portfolio {
        padding-top: round($portfolio_paddingtop * $multiply_size_tablet);
    }

    .project_head_container {
        text-align: center;
    }

    .project_head_container h2 {
        font-size: round($head_fontsize * $multiply_size_tablet);
    }
    
    .portfolio_items_container {
        justify-content: center;
    }

    .portfolio_item {
        margin-bottom: 50px;
        margin-right: 0;
        max-width: 80%;
    }

    .roll_over {
        font-size: round($portfolio_roll_over_fontsize * $multiply_size_tablet);

        .bottom_content {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .roll_over .bottom_content .bottom_content_text {
        max-height: 18px;
    }

    .roll_over .follow_container i.icon-add.follow {
        font-size: round($portfolio_follow_icon_fontsize * $multiply_size_tablet);
    }

    .portfolio_title {
        font-size: round($portfolio_title_fontsize * $multiply_size_tablet);
        margin: 10px 0;
    }
    
    .portfolio_desc {
        font-size: round($portfolio_desc_fontsize * $multiply_size_tablet);
        line-height: round($portfolio_desc_lineheight * $multiply_size_tablet);
    }

    // --------------------------------- Subscribe -------------------------------------

    .subscribe {
        margin-top: round($subscribe_margin_top * $multiply_size_tablet);
    }

    .subscribe_content {
        font-size: round($subscribe_content_fontsize * $multiply_size_tablet);
    }

    .subscribe_content_link {
        margin-right: 5px;
    }

    // ---------------------------------- Footer ----------------------------------------

    footer {
        margin-top: round($footer_margin_top * $multiply_size_tablet);
        margin-bottom: round($footer_margin_bottom * $multiply_size_tablet);
    }

    .footer_content {
        font-size: round($footer_content_fontsize * $multiply_size_tablet);
        line-height: round($footer_content_lineheight * $multiply_size_tablet);
        width: 100%;
    }
    
    .footer_parag img {
        width: round(163px * $multiply_size_tablet);
    }
}

@media (max-width: $mobile_large) {
     // ----------------------------------- Header ------------------------------------

     header {
        padding: 15px 0;
    }

    .header_auth a {
        font-size: round($header_link_fontsize * $multiply_size_mobile_large);
        &:first-of-type {
            margin-right: 15px;
        }
    }

    .header_logo {
        width: round(327px * $multiply_size_mobile_large / 1.5);
    }

    // ----------------------------------- Top Bar ------------------------------------

    .bar {
        padding: 5px 0;
    }

    .bar_search {
        padding: 6px 0 5px;
        font-size: round($bar_text_fontsize * $multiply_size_mobile_large);
        text-indent: round($bar_search_textindent * $multiply_size_mobile_large);
    }

    .bar_date_container {
        padding: 0 5px;
    }

    .bar_date_text {
        font-size: round($bar_text_fontsize * $multiply_size_mobile_large);
    }

    i.icon-calendar {
        font-size: round($bar_icon_fontsize * $multiply_size_mobile_large);
        
    }
    
    .custom_btn {
        @include button_mixin(round($bar_text_fontsize * $multiply_size_mobile_large), 6px 5px 5px, $bar_field_bg_color, $blue_color);
    }

    // ---------------------------------- Slider -----------------------------------------

    .slider .item {
        padding-top: round($slider_padding_top * $multiply_size_mobile_large);
        height: round($slider_item_height * $multiply_size_mobile_large);
    }

    .slider_text {
        font-size: round($slider_text_fontsize * $multiply_size_mobile_large);
        max-height: round($slider_text_container_maxheight * $multiply_size_mobile_large - 110);
    }

    // ----------------------------------- Portfolio --------------------------------------

    .portfolio {
        padding-top: round($portfolio_paddingtop * $multiply_size_mobile_large);
    }

    .project_head_container h2 {
        font-size: round($head_fontsize * $multiply_size_mobile_large);
    }
    
    .roll_over {
        font-size: round($portfolio_roll_over_fontsize * $multiply_size_mobile_large);
    }

    .roll_over .bottom_content .bottom_content_text {
        max-height: 14px;
    }

    .roll_over .follow_container i.icon-add.follow {
        font-size: round($portfolio_follow_icon_fontsize * $multiply_size_mobile_large);
    }

    .roll_over .roll_count {
        margin: 5px;
    }

    .portfolio_title {
        font-size: round($portfolio_title_fontsize * $multiply_size_mobile_large);
        margin: 5px 0;
    }
    
    .portfolio_desc {
        font-size: round($portfolio_desc_fontsize * $multiply_size_mobile_large);
        line-height: round($portfolio_desc_lineheight * $multiply_size_mobile_large);
    }

    // --------------------------------- Subscribe -------------------------------------

    .subscribe {
        margin-top: round($subscribe_margin_top * $multiply_size_mobile_large);
        padding: 5px 0;
    }

    .subscribe_content {
        font-size: round($subscribe_content_fontsize * $multiply_size_mobile_large);
    }

    // ---------------------------------- Footer ----------------------------------------

    footer {
        margin-top: round($footer_margin_top * $multiply_size_mobile_large);
        margin-bottom: round($footer_margin_bottom * $multiply_size_mobile_large);
    }

    .footer_content {
        font-size: round($footer_content_fontsize * $multiply_size_mobile_large);
        line-height: round($footer_content_lineheight * $multiply_size_mobile_large);
    }
    
    .footer_parag img {
        width: round(163px * $multiply_size_mobile_large);
    }
}

@media (max-width: $mobile) {

    // ------------------------------ Header ------------------------------------------

    header {
        padding: 10px 0;
    }

    .header_auth a {
        font-size: round($header_link_fontsize * $multiply_size_mobile);
        &:first-of-type {
            margin-right: 10px;
        }
    }

    .header_logo {
        width: round(327px * $multiply_size_mobile / 1.5);
    }

    // ------------------------------- Top Bar ----------------------------------------

    .bar {
        padding: 5px 0;
    }

    .bar_search {
        padding: 7px 0 6px;
        font-size: round($bar_text_fontsize * $multiply_size_mobile);
        text-indent: round($bar_search_textindent * $multiply_size_mobile);
    }

    .bar_date_container {
        padding: 2px;
    }

    .bar_date_text {
        font-size: round($bar_text_fontsize * $multiply_size_mobile);
    }

    i.icon-calendar {
        font-size: round($bar_icon_fontsize * $multiply_size_mobile);
    }
    
    .custom_btn {
        @include button_mixin(round($bar_text_fontsize * $multiply_size_mobile), 8px 5px, $bar_field_bg_color, $blue_color);
    }

    // ---------------------------------- Slider -----------------------------------------

    .slider .item {
        padding-top: round($slider_padding_top * $multiply_size_mobile);
        height: round($slider_item_height * $multiply_size_mobile);
    }

    .slider_text {
        font-size: round($slider_text_fontsize * $multiply_size_mobile);
        max-height: round($slider_text_container_maxheight * $multiply_size_mobile - 100);
    }
   
}