@mixin project_cont_mix($width, $margin: 0 auto) {
    width: $width;
    margin: $margin;
}

@mixin project_width($width, $max_width) {
    width: $width;
    max-width: $max_width;
}


@mixin flex_mix {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

@mixin flex_align_items_mix($to: center) {
    -webkit-box-align: $to;
    -moz-box-align: $to;
    -ms-flex-align: $to;
    -webkit-align-items: $to;
    align-items: $to;
}

@mixin button_mixin($fontsize, $padding, $bc, $color, $border:none, $fontfamily: $gotham_medium) {
    font-size: $fontsize;
    font-family: $fontfamily;
    padding: $padding;
    background-color: $bc;
    color: $color;
    border: $border;
}






