.portfolio {
    background-color: $portfolio_bg_color;
    padding-top: $portfolio_paddingtop;
}

.portfolio_container {
    @extend .project_container;
}

.portfolio_items_container {
    display:-webkit-flex;
    display:flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: space-around;
}

.portfolio_item {
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}