.portfolio {
    background-color: $portfolio_bg_color;
    padding-top: $portfolio_paddingtop;
}

.portfolio_container {
    @extend .project_container;
}

.portfolio_items_container {
    display:-webkit-flex;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head_container {
    margin-bottom: 60px;
    h2 {
        font-size: 50px;
        font-family: "GothamMedium";
        color: #333;
    }
}

.portfolio_item {
    max-width: 585px;
    width: 100%;
    margin-bottom: 140px;
    margin-right: 20px;
}

.portfolio_item_pict_cont {
    position: relative;
}

.portfolio_picture {
    width: 100%;
    max-width: 585px;
    max-height: 313px;
}

.portfolio_title, .portfolio_desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio_title {
    font-size: 33px;
    margin: 47px 0 20px;
    color: #333;
}

.portfolio_desc {
    font-size: 30px;
    font-family: "GothamBook", "GothamMedium", sans-serif;
    line-height: 33px;
    vertical-align: 40px;
    color: #666;
}

.roll_over {
    background-color: #333;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;  
    transition: opacity 0.5s;
    color: #fff;
    font-size: 17px;

    .roll_content_container {
        max-width: 90%;
        margin: 0 auto;
    }

    i {
        color: #fff;
        float: left;

        &:hover {
            color: #3ba2d4;
            cursor: pointer;
        }
    }

    .top_content {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        & > div {
            display: flex;
        }
    }

    .bottom_content {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .bottom_content_text {
            max-width: 60%;
            max-height: 38px;
            overflow: hidden;
        }
    }

    .roll_count {
        margin: 10px;
    }

    .follow_container {
        margin-right: 5px;

        i.icon-add.follow {
            font-size: 24px;
        }

        .follow_text {
            font-size: 20px;
        }
    }
}


