.portfolio {
    background-color: $portfolio_bg_color;
    padding-top: $portfolio_paddingtop;
}

.portfolio_container {
    @extend .project_container;
}

.portfolio_items_container {
    display:-webkit-flex;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_item {
    max-width: 585px;
    width: 100%;
    margin-bottom: 140px;
    margin-right: 20px;
}

.portfolio_item_pict_cont {
    position: relative;
}

.portfolio_picture {
    width: 100%;
}

.portfolio_title, .portfolio_desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio_title {
    font-size: 33px;
    margin: 47px 0 20px;
}

.portfolio_desc {
    font-size: 30px;
    font-family: "GothamBook", "GothamMedium", sans-serif;
    line-height: 33px;
    vertical-align: 40px;
    color: #666;
}