@import './global.scss';
@import './variables.scss';
@import './mixins.scss';

.subscribe {
    background-color: $subscribe_bg_color;
    margin-top: $subscribe_margin_top;
    padding: $subscribe_padding;
}

.subscribe_container {
    @extend .project_container;
}
.subscribe_content {
    font-size: $subscribe_content_fontsize;
    .subscribe_content_link {
        color: $blue_color;
        margin-right: 30px;
    }
}



