.subscribe {
    background-color: $bg_primary_color;
    margin-top: $subscribe_margin_top;
    padding: $subscribe_padding;
}

.subscribe_content {
    font-size: $subscribe_content_fontsize;
}

.list_container::after {
    clear: both;
    content: "";
    display: table;
}

.list_item {
    float: left;
    font-size: $subscribe_content_fontsize;
    margin-right: 30px;
}

.subscribe_content_link {
    color: $text_secondary_color;
}