// Project container width 
$cont_width: 82%;
$link_opacity: 0.8;
$second_cursor: pointer;
// Blue color
$blue_color: #3ba2d4;
//Main Font-family
$gotham_medium: 'GothamMedium', sans-serif;
$gotham_bold: 'GothamBold', 'GothamMedium', sans-serif;
$gotham_book: 'GothamBook', 'GothamMedium', sans-serif;

// Project half container
$half_width: 50%;
$half_max_width: 1250px;

// Project head 
$project_head_container_margin_bottom: 60px;
$head_color: #333;
$head_fontsize: 50px;

// ------------------------ Header ------------------------
$header_bg_color: #333;
$header_padding: 53px 0;
$header_link_fontsize: 36px;
$header_link_color: #fff;
$header_first_link_marginright: 40px;

// ---------------------- Bar ----------------------------
$bar_bg_color: #77787a;
$bar_form_div_marginright: 8px;
$bar_field_bg_color: #fff;
$bar_padding: 20px 0;
$bar_text_fontsize: 25px;
$bar_search_width: 100%;
$bar_search_textindent: 20px;
$bar_search_padding: 20px 0;
$bar_date_container_padding: 10px;
$bar_date_text_margin: 12px 20px 0 0;
$bar_icon_fontsize: 50px;
$bar_icon_color: #929497;

// ---------------------- Slider --------------------------
$slider_bg_color: #9FA2A9;
$slider_padding_top: 90px;
$slider_item_height: 950px;
$slider_text_container_maxheight: 480px;
$slider_text_container_marginleft: 9%;
$slider_text_fontsize: 62px;
$slider_text_color: #fff;

// ---------------------- Portfolio ------------------------
$portfolio_bg_color: #fff;
$portfolio_paddingtop: 150px; 
$portfolio_transition_time: 0.5s;
$portfolio_item_width: 100%;
$portfolio_item_maxwidth: 585px;
$portfolio_picture_maxheight: 313px;
$portfolio_title_fontsize: 33px;
$portfolio_title_color: #333;
$portfolio_desc_fontsize: 30px;
$portfolio_desc_lineheight: 33px;
$portfolio_desc_color: #666;
$portfolio_roll_over_bg_color: #333;
$portfolio_roll_over_color: #fff;
$portfolio_roll_over_fontsize: 17px;
$portfolio_follow_icon_fontsize: 24px;
$portfolio_follow_text_fontsize: 20px;
$portfolio_bottom_context_text_maxwidth: 60%;
$portfolio_bottom_context_text_maxheight: 38px;

// ---------------------- Subscribe ------------------------
$subscribe_bg_color: #333;
$subscribe_margin_top: 90px;





