// Project container width
$container_width: 82%;
$link_opacity: 0.7;
$second_cursor: pointer;

// Text colors
$text_primary_color: #333;
$text_secondary_color: #3ba2d4;
$text_light_color: #fff;
$text_muted_color: #666;
$text_custom_color: #FFE44B;
$text_icon_color: #929497;

// Background colors
$bg_primary_color: #333;
$bg_secondary_color: #77787a;
$bg_light_color: #fff;

// Font-families
$gotham_medium: 'GothamMedium', sans-serif;
$gotham_bold: 'GothamBold', 'GothamMedium', sans-serif;
$gotham_book: 'GothamBook', 'GothamMedium', sans-serif;

// Project half container
$half_width: 50%;
$half_max_width: 1250px;

// Project head 
$project_head_container_margin_bottom: 60px;
$head_fontsize: 50px;

// ------------------------ Header ------------------------
$header_padding: 53px 0;
$header_link_fontsize: 36px;
$header_first_link_marginright: 40px;

// ---------------------- Bar ----------------------------
$bar_form_div_marginright: 8px;
$bar_padding: 20px 0;
$bar_text_fontsize: 25px;
$bar_search_width: 100%;
$bar_search_textindent: 20px;
$bar_search_padding: 20px 0;
$bar_date_container_padding: 10px;
$bar_date_text_margin: 12px 20px 0 0;
$bar_icon_fontsize: 40px;

// ---------------------- Slider --------------------------
$slider_padding_top: 90px;
$slider_item_height: 950px;
$slider_text_container_maxheight: 480px;
$slider_text_container_marginleft: 9%;
$slider_text_fontsize: 62px;
$slider_text_fontsize2: 40px;

// ---------------------- Portfolio ------------------------
$portfolio_paddingtop: 150px; 
$portfolio_transition_time: 0.5s;
$portfolio_item_width: 100%;
$portfolio_item_maxwidth: 585px;
$portfolio_picture_maxheight: 313px;
$portfolio_title_fontsize: 33px;
$portfolio_desc_fontsize: 30px;
$portfolio_desc_lineheight: 33px;
$portfolio_roll_over_fontsize: 17px;
$portfolio_follow_icon_fontsize: 24px;
$portfolio_follow_text_fontsize: 20px;
$portfolio_bottom_context_text_maxwidth: 60%;
$portfolio_bottom_context_text_maxheight: 38px;

// ---------------------- Subscribe -------------------------
$subscribe_margin_top: 90px;
$subscribe_padding: 25px 0;
$subscribe_content_fontsize: 67px;

// ----------------------- Footer ---------------------------
$footer_margin_top: 100px;
$footer_margin_bottom: 180px;
$footer_column_maxwidth: 25%;
$footer_content_width: 75%;
$footer_content_maxwidth: 1560px;
$footer_content_fontsize: 30px;
$footer_content_lineheight: 62px;

// ---------------------- Media -----------------------------
$laptop_large: 1920px;
$laptop_medium: 1440px;
$laptop: 992px;
$tablet: 600px;
$mobile_large: 425px;
$mobile: 375px;

$multiply_size_laptop_large: 0.8;
$multiply_size_laptop: 0.5;
$multiply_size_tablet: 0.4;
$multiply_size_mobile_large: 0.3;
$multiply_size_mobile: 0.2;